DocumentRoot "/var/www/"
<Directory "/var/www/">
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

<VirtualHost _default_:443>
    DocumentRoot "/var/www/"
    ServerName localhost.local
    ServerAlias oxideshop.local

    SSLEngine on
    <Directory "/var/www/">
        AllowOverride All
        Require all granted
    </Directory>

    SSLCertificateFile "/usr/local/apache2/conf/rootCA.pem"
    SSLCertificateKeyFile "/usr/local/apache2/conf/rootCA-key.pem"
    Protocols h2 http/1.1

</VirtualHost>