DocumentRoot "/var/www/"
<Directory "/var/www/">
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

<VirtualHost _default_:443>
    DocumentRoot "/var/www/"
    ServerName localhost.local
    ServerAlias oxideshop.local
    ServerAlias 127.0.0.1

    SSLEngine on
    <Directory "/var/www/">
        AllowOverride All
        Require all granted
    </Directory>

    SSLCertificateFile "/usr/local/apache2/conf/server.crt"
    SSLCertificateKeyFile "/usr/local/apache2/conf/server.key"
    Protocols h2 http/1.1

</VirtualHost>