HOST_USER_ID=<userId>
HOST_GROUP_ID=<groupId>

HOST_USER_NAME=<userName>
HOST_GROUP_NAME=<groupName>

PHP_VERSION=8.1
MYSQL_VERSION=5.7

ELASTICSEARCH_VERSION=6.8.23
KIBANA_VERSION=6.8.23

NGINX_VERSION=1.24
NGINX_SERVER_CONFIG_DIR='./source/dev-packages/nginx/ServerConfiguration'
VARNISH_CONFIG_DIR='./source/dev-packages/varnish_config'

NODE_VERSION=latest
